.product_detail_price
{
    
    margin-top: 32px;
    font-size: 46px;
    margin-bottom: 32px;
}

.product_detail_sales {
  margin-top: 32px;
  font-size: 14px;
}

.product_detail_title {
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  margin-top: 16px;
  font-size: 24px;
  font-weight: bold;
  width: 80%;
}

.product_detail_buy_button {
  background-color: #3483fa;
  color: white;
  border-radius: 4px;
  margin-right: 32px;
  border: none;
  width: 80%;
  height: 50px;
}

@media screen and (min-width: 1085px) and (max-width: 1920px) {
  .product_detail_price_container {
    width: 30%;
    display: inline-block;
    height: 100%;
  }
  
}

@media screen and (min-width: 481px) and (max-width: 1085px) {

  .product_detail_price_container {
    width: 70%;
    margin: auto;
    display: block;
    margin-bottom:20px;
  }

  .product_detail_buy_button {
    margin-bottom: 20px;
  }
  
}

@media screen and (max-width: 481px) {
  .product_detail_price_container {
    width: 90%;
    margin: auto;
    display: block;
    margin-bottom:20px;
  }

  .product_detail_buy_button {
    margin-bottom: 20px;
  }
}
