@media screen and (max-width: 1920px) {
  .product_detail_sales {
    margin-top: 32px;
    font-size: 14px;
  }

  .product_detail_title {
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
      Arial, sans-serif;
    margin-top: 16px;
    font-size: 24px;
    font-weight: bold;
    width: 80%;
  }

  .product_detail_buy_button {
    background-color: #3483fa;
    color: white;
    border-radius: 4px;
    margin-right: 32px;
    border: none;
    width: 80%;
    height: 50px;
  }

  .product_detail_price_container {
    width: 30%;
    display: inline-block;
    height: 100%;
  }
  .product_detail_price
{
    
    margin-top: 32px;
    font-size: 46px;
    margin-bottom: 32px;
}
}
