.App {
  background-color: #EEEEEE;
  height: 100%;
  min-height: 720px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/*
@media screen and (max-width: 1920px) {
/*SEARCH BOX
.searchbox_container
{
  display: inline-flex;
  width: 70%;
  
}

.searchbox_img_container
{
  display:inline-block;
  height: 70px;
  width: 10%;
  border-radius: 4px;

}
.searchbox_img_container:hover
{
  cursor: pointer;
}

.searchbox_input_container
{
  position:relative;
  display:inline-block;
  border-radius: 4px;
  height: 70px;
  width: 90%;
}

@media screen and (max-width: 1920px) {
  .searchbox_input
  {
      font-size: 1.125rem;
      font-weight: 300;
      padding:7px 60px 9px 15px;
      height: 39px;
      width: 95%;
      margin-bottom: 5px;
      margin-top: 5px;
      vertical-align:middle;
      border:none;
      border-radius: 2px;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  }
}


.searchbox_input:focus
{
  outline: none;
}

.searchbox_img
{
  margin: auto;
  display: block;
  margin-left: 0px;
  margin-right: 20px;
  height: 50px;
  width: 73px;
  float:left;
}

.searchbox_button
{
    width: 39px;
    height: 39px;
    vertical-align:middle;
    border: none;
    border-radius: 0px 2px 2px 0px;
    background-color: #EEEEEE;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

.searchbox_button:hover
{
  cursor:pointer;
}

.searchbox_icon
{
    background-image: url("../../meliapp/src/assets/images/ic_Search.png");
    color: black;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    margin: 10px 5px 5px 5px;
    content: '\EA27';
}

.header
{
  background-color: #FFE600;
  color:#333333;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 50px;
  text-align: center;
}

/* SEARCH RESULT ITEM */

/*
.search_result_item_container
{
    display: inline-flex;
    display: block;
    width: 70%;
    max-width: 70%;
    height: 180px;
    margin: auto;
    background-color: white;
    padding-top: 16px;
    padding-bottom: 16px;
}

.search_result_location_container
{
    display:inline-block;
    width: 25%;
    height: 180px;
    vertical-align: middle;
    text-align: center;
    
}

.search_result_description_container
{
    display:inline-block;
    width: 70%;
    vertical-align: middle;
}

.search_result_img
{
    width: 180px;
    max-height: 180px;
    border-radius: 4px;
    vertical-align: middle;
    height: auto;
}

.search_result_img_container
{
    display:inline-block;
    vertical-align: middle;
    height: 180px;
    width: 180px;
    margin-left: 16px;
}

.search_result_detail_container
{
    margin-left: 16px;
    display:inline-block;
    width: 60%;
    height: 130px;
    vertical-align: middle;
    
}

.search_result_description
{
    margin-top: 32px;
    font-size: 18px;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    text-align: left;
    width: 100%;
}

.search_result_price
{
    font-size: 24px;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    text-align: left;
    margin-top:32px;
    display: inline;
}

.search_result_icon
{
  display: inline;
  margin-left: 10px;
}

.search_result_icon
{
  height: 15px;
  width: 15px;
}
.search_result_location
{
    font-size: 12px;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    color: #999999;
    margin-top: 25px;
}

.search_result_container
{
    display: inline-block;
    width: 100%;
}

.search_item_separator
{
  width: 97%;
  height: 1px;
  background-color:#EEEEEE;
  border:none;
  margin: unset;
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


/*BREADCRUMB*/
/*
.breadcrumb
{
    color: #333333;
    font-size: 0.875rem;
    padding: 1rem;
    list-style-type: none;
    width: 70%;
    margin: auto;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.breadcrumb_category
{
  display: inline;
}

.breadcrumb_category:not(:first-child)::before {
  content: ">";
  padding: .5rem; }

/*PRODUCT DETAILS*/
/*
.product_detail_container
{
    margin: auto;
    display: flex;
    width: 70%;
    background-color: white;
    margin-bottom: 10px;
} */
/*
.product_details_description
{
    height: 30%;
    font-size: 16px;
    margin-left: 32px;
    margin-bottom: 32px;
}

.product_detail_img_and_description
{
    width: 70%;
    height: 70%;

}

.product_details_img_container
{
    width: 680px;
    margin-top: 32px;
    margin-left: 32px;
}

.product_detail_price
{
    
    margin-top: 32px;
    font-size: 46px;
    margin-bottom: 32px;
}

.product_details_img
{
    height: 70%;
}

.product_detail_sales
{
    margin-top: 32px;
    font-size: 14px;
}

.product_detail_title
{
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    margin-top: 16px;
    font-size: 24px;
    font-weight: bold;
    width: 80%;
}


.product_detail_buy_button
{
    background-color: #3483fa;
    color: white;
    border-radius: 4px;
    margin-right: 32px;
    border: none;
    width: 80%;
    height: 50px;
}

.product_description_title{
  font-size: 28px;
  margin-left: 32px;
  margin-bottom: 32px;
  margin-top:32px;
}

.product_detail_price_container
{
    width: 30%;
    display: inline-block;
    height: 100%;
}



@media screen and (max-width: 1280px) {
  .searchbox_input
  {
      font-size: 1.125rem;
      font-weight: 300;
      padding:7px 60px 9px 15px;
      height: 39px;
      width: 94%;
      margin-bottom: 5px;
      margin-top: 5px;
      vertical-align:middle;
      border:none;
      border-radius: 2px;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  }
}


@media screen and (min-width: 481px) and (max-width: 1085px) {
      .header
      {
        background-color: #FFE600;
        color:#333333;
        padding-top: 0.5rem;
        height: 50px;
        text-align: center;
      }
      .searchbox_input
      {
          font-size: 1.125rem;
          font-weight: 300;
          padding:7px 60px 9px 15px;
          height: 39px;
          width: 80%;
          margin: auto;
          vertical-align:middle;
          border:none;
          border-radius: 2px;
          box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
      }
      .searchbox_img
      {
        margin: auto;
        display: block;
        margin-left: 0px;
        margin-right: 20px;
        height: 40px;
        width: 63px;
        float:left;
      }
      .search_result_description_container
      {
          display:inline-flex;
          width: 100%;
          vertical-align: middle;
      }
      .search_result_location_container
      {
        display: none;
      }
      .search_result_img
    {
        width: 180px;
        border-radius: 4px;
        vertical-align: middle;
        height: auto;
    }

    .search_result_detail_container
    {
        margin-left: 16px;
        display:inline-block;
        width: 60%;
        height: 180px;
        vertical-align: middle;
        padding-right: 10px;
        
    }
}



@media screen and (max-width: 480px)
{
  .searchbox_button{
    display: none;
  }
  .search_result_price
  {
    font-size: 16px;
  }
  .search_result_location_container
  {
    display: none;
  }

  .search_result_img_container
  {
    height: 100px;
    width: 100px;
  }

  .search_result_img
  {
    width: 100px;
    vertical-align:baseline;
  }

  .search_result_description_container
  {
    display:inline-flex;
    width: 100%;
    vertical-align: middle;
  }

  .search_result_item_container
  {
    display: inline-flex;
    display: block;
    width: 70%;
    max-width: 70%;
    height: 120px;
    margin: auto;
    background-color: white;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .search_result_description
  {
      font-size: 12px;
      margin-top: 16px;
      font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
      text-align: left;
      width: 100%;
  }
}
*/